body {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav li {
    margin: 0 15px;
}
p {
  color: #B22222;
justify-content: center;}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

ul {
    list-style-type: square;
    text-align: left;
    display: inline-block;
}

ol {
    text-align: left;
    display: inline-block;
}
main h1{
  color: #B22222;
}
footer {
    margin-top: 50px;
}

.recipe-columns {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: stretch;
  margin: 0 auto;
  
  .recipe-columns article {
    flex: 1;                 
    max-width: 350px;        
    text-align: left;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
